<!DOCTYPE html>
<html xmlns="http://www.abcgroupuae.com"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
   <head >
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - ABC   Admin</title>
     
       
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
         <link href="css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="sb-nav-fixed">
    
    <div th:replace="fragments/header :: header">...</div>
        
        <div id="layoutSidenav">
            <div th:replace="fragments/sidenavbar :: sidenavbar">...</div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Available Products List</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"></li>
                        </ol>
                        
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Sub Sub Categories
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Product code</th>
                                            <th>Product Name</th>
                                            <th>Family code</th>
                                            <th>Category</th>
                                            <th>Sub Category</th> 
                                            <th>Sub Sub Category</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th colspan="2"><a sec:authorize="hasAnyAuthority('ADMIN_MANAGER', 'ADMIN')" href="/products/add" class="btn btn-success"><i class="material-icons">add</i>Add</a></th>
                                            
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Product code</th>
                                            <th>Product Name</th>
                                            <th>Family code</th>
                                            <th>Category</th>
                                            <th>Sub Category</th> 
                                            <th>Sub Sub Category</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th colspan="2"></th>
                                            
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                       <tr th:if="${Products.empty}">
            								<td colspan="10"> No Products Available </td>
        							  </tr>
								        <tr th:each="product : ${Products}">
								            <td><span th:text="${product.Product_id}"> Title </span></td>
								             <td><span th:text="${product.product_name}"> Title </span></td>
								              <td><span th:text="${product.FamilyCode}"> Title </span></td>
								            <td><span th:text="${product.categoryDetails?.Category_Name}"> Title </span></td>
								            <td><span th:text="${product.subCategoryDetails?.Sub_Category_Name}"> Title </span></td>
								            <td><span th:text="${product.subSubCategoryDetails?.Sub_Sub_Category_Name}"> Author </span></td>
								             <td><span th:text="${product.description}"> Author </span></td>
								            <td><span th:text="${product.Unit_price}"> Author </span></td>
								           <td colspan="2">
								            <a th:href="@{/products/view/{Product_id}(Product_id=${product.Product_id})}" class="btn btn-warning" type="button"><i class="fa fa-eye"></i>View</a>
								           
								            <a sec:authorize="hasAnyAuthority('ADMIN_MANAGER', 'ADMIN')" th:href="@{/products/update/{Product_id}(Product_id=${product.Product_id})}" class="btn btn-secondary" type="button"><i class="material-icons">update</i>Edit</a>
								           <a sec:authorize="hasAnyAuthority('ADMIN_MANAGER', 'ADMIN')" th:href="@{/products/delete/{Product_id}(Product_id=${product.Product_id})}" class="btn btn-danger"><i class="fa fa-trash"></i>Delete</a>
								            </td>
								        </tr>
                                       
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
              <div th:replace="fragments/footer :: footer">...</div>
            </div>
        </div>
      
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
